<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'pomodoro/css/bootstrap.min.css' %}">
    {% block extrahead %}{% endblock %}
</head>

<body>
    {% block site-content %}{% endblock %}

    <script src="{% static 'pomodoro/js/jquery.min.js' %}"></script>
    <script src="{% static 'pomodoro/js/bootstrap.min.js' %}"></script>
    {% block extrascript %}{% endblock %}
</body>
</html>