{% extends "pomodoro/base.html" %}
{% load static %}

{% block title %}Pomodoro{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'pomodoro/css/pomodoro.css' %}">
{% endblock %}

{% block extrascript %}
    <script src="{% static 'pomodoro/js/timer.jquery.min.js' %}"></script>
    <script src="{% static 'pomodoro/js/ion.sound.min.js' %}"></script>
    <script>const SOUNDS_FOLDER_URL = "{% static 'pomodoro/sounds/' %}"</script>
    <script src="{% static 'pomodoro/js/pomodoro.js' %}"></script>
{% endblock %}
