<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <header id="header">
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Task</a></li>
                        <li><a href="#">Pomodoro</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END Header -->

        <!-- Content -->
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
        <!-- END Content -->
    </div>
    <!-- END Container -->
</body>
</html>