{% extends "pomodoro/base.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'pomodoro/css/login.css' %}">
{% endblock %}

{% block site-content %}

    <div class="login-clean">
        <form method="post" action="{% block form-action %}{% endblock %}">
            {% csrf_token %}
            <div class="illustration">
                {% block form-header %}
                    {% if form.errors %}
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                {% if field == '__all__' %}
                                    <p class="error-note">{{ error|escape }}</p>
                                {% else %}
                                    <p class="error-note">{{ field|escape }} : {{ error|escape }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endblock %}
            </div>
            {% block form-body %}{% endblock %}
        </form>
    </div>
{% endblock %}