{% extends "pomodoro/base_pomodoro.html" %}

{% block tab-content %}
    <div class="tab-content">
        <div class="tab-pane" role="tabpanel" id="tab-tasks">
            <div class="modal fade" role="dialog" tabindex="-1" id="model-task-options">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" id="modal-tasks-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <div class="row bottom-gap">
                                <div class="col-md-11">
                                    <h4 id="modal-task-name" class="no-margin">Task Name</h4></div>
                                <div class="col-md-12 group">
                                    <form class="form-inline group inline" method="post">
                                        <label for="input-task-pomodoros">Completed Intervals </label>
                                        <input class="form-control input-number" type="number" name="pomodoro-intervals"
                                               value="2" disabled="" min="0" id="model-input-task-pomodoros">
                                        <div class="btn-group btn-group-sm group hidden" role="group"
                                             id="model-task-buttons">
                                            <button class="btn btn-default btn-sm" type="button"
                                                    id="btn-model-task-cancel">Cancel
                                            </button>
                                            <button class="btn btn-primary btn-sm" type="submit"
                                                    id="btn-model-task-save">Save
                                            </button>
                                        </div>
                                    </form>
                                    <a href="#" id="btn-model-edit-task"> <i class="material-icons">edit</i></a>
                                </div>
                            </div>
                            <div class="row info">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h6>Start </h6></div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h6 class="text-right">Duration </h6></div>
                            </div>
                        </div>
                        <div class="modal-body" id="modal-tasks-body">
                            <div class="row top-gap">
                                <div class="col-md-7 col-sm-6 col-xs-6"><span>dd/MM/yyyy HH:mm</span></div>
                                <div class="col-md-5 col-sm-6 col-xs-6 group right"><span>25 min</span></div>
                                <div class="col-md-12">
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-todo" role="tab" data-toggle="tab">Todo </a></li>
                    <li><a href="#tab-done" role="tab" data-toggle="tab">Done </a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-todo">
                        <div class="row center">
                            <div class="col-md-12"><a class="btn btn-link" role="button" href="#" id="btn-add-task"><i
                                    class="material-icons action-button">add_box</i> </a></div>
                        </div>
                        <form method="post" id="form-input-new-task" class="hidden center bottom-gap">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-8 group left">
                                    <input class="form-control" type="text" required="" placeholder="Task Name">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-4 right">
                                    <div class="btn-group group" role="group">
                                        <button class="btn btn-default btn-sm" type="button" id="btn-cancel-input-task">
                                            Cancel
                                        </button>
                                        <button class="btn btn-primary btn-sm" type="submit">Create</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row center" data-intervals="2"
                             data-pomodoros="1&amp;14/04/2017 10:20&amp;25 min&amp;&amp;2&amp;15/04/2017 12:20&amp;25 min">
                            <div class="col-md-6 col-sm-6 col-xs-6 task-name left"><span
                                    class="task-name-1">Task Name</span></div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="group right"><span class="badge">2</span><a class="btn-edit-task"
                                                                                        data-toggle="modal"
                                                                                        data-target="#model-task-options"><i
                                        class="material-icons" data-toggle="modal"
                                        data-target="model-task-options">edit</i></a>
                                    <a href="#" class="btn-done-task"><i class="material-icons">done</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-done">
                        <div class="row center bottom-gap">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 info">
                                <h6>dd/MM/yyyy </h6></div>
                        </div>
                        <div class="row center" data-intervals="2"
                             data-pomodoros="1&amp;14/04/2017 10:20&amp;25 min&amp;&amp;2&amp;15/04/2017 12:20&amp;25 min">
                            <div class="col-md-6 col-sm-6 col-xs-6 task-name"><span>Task Name</span></div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="group"><span class="badge">2</span><a data-toggle="modal"
                                                                                  data-target="#model-task-options"><i
                                        class="material-icons btn-edit-task" data-toggle="modal"
                                        data-target="model-task-options">edit</i></a><a href="#"><i
                                        class="material-icons ic-task-done-1">undo</i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane active" role="tabpanel" id="tab-pomodoro">
            <div class="row center">
                <div class="col-md-12">
                    <div class="dropdown inline">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                                type="button">Tasks<span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="#">First Item</a></li>
                            <li role="presentation"><a href="#">Second Item</a></li>
                            <li role="presentation"><a href="#">Third Item</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row top-gap bottom-gap center" id="row-pomodoro-timer">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <button class="btn btn-default btn-sm" type="button" id="btn-minus-pomodoro">- 1 min</button>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12" id="coll-timer">
                    <div id="timer-container" class="inline"><span> 25:00</span></div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <button class="btn btn-default btn-sm" type="button" id="btn-plus-pomodoro">+ 1 min</button>
                </div>
            </div>
            <div class="row center">
                <div class="col-md-12 group">
                    <button class="btn btn-success" type="button" id="btn-start-pomodoro">Start</button>
                    <button class="btn btn-danger hidden" type="button" id="btn-stop-pomodoro">Stop</button>
                    <button class="btn btn-default" type="button" id="btn-next-pomodoro-break">Next</button>
                </div>
            </div>
            <div class="row center top-gap">
                <div class="col-md-12"><span id="pomodoro-completed">0 </span><span>/ </span><span id="pomodoro-target">14 </span>
                </div>
            </div>
        </div>
        <div class="tab-pane" role="tabpanel" id="tab-settings">
            <div class="row center bottom-gap" id="row-settings-action-btns">
                <div class="col-md-12 group"><a href="#" id="btn-add-setting"><i class="material-icons">add</i></a><a
                        href="#" id="btn-edit-setting"><i class="material-icons">edit</i></a></div>
            </div>
            <div class="row center bottom-gap" id="row-settings-dropdown">
                <div class="col-md-12">
                    <div class="dropdown inline">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                                type="button" id="btn-dropdown-settings">Setting Name<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="#">First Item</a></li>
                            <li role="presentation"><a href="#">Second Item</a></li>
                            <li role="presentation"><a href="#">Third Item</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <form method="post" id="form-settings" class="center">
                <div class="row bottom-gap hidden" id="row-settings-form-actions">
                    <div class="col-md-6 col-sm-6 col-xs-8 group">
                        <input class="form-control" type="text" required="" placeholder="Setting name"
                               id="input-setting-name">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-4">
                        <div class="btn-group group" role="group">
                            <button class="btn btn-default btn-sm" type="button" id="btn-cancel-input-setting">Cancel
                            </button>
                            <button class="btn btn-primary btn-sm" type="submit">Save</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                                <label for="setting-duration">Pomodoro duration </label>
                            </div>
                            <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 right">
                                <input class="form-control input-number" type="number" name="duration" value="25"
                                       disabled="" required="" min="1" id="setting-duration">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 left">
                                <h6>minutes </h6></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                                <label for="setting-break-duration">Break </label>
                            </div>
                            <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 right">
                                <input class="form-control input-number" type="number" name="break-duration" value="5"
                                       disabled="" required="" min="1" id="setting-break-duration">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 left">
                                <h6>minutes </h6></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                                <label for="setting-long-break-duration">Long Break</label>
                            </div>
                            <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 right">
                                <input class="form-control input-number" type="number" name="long-break-duration"
                                       value="30" disabled="" required="" min="1" id="setting-long-break-duration">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 left">
                                <h6>minutes </h6></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                                <label for="setting-pomodoros-to-long-break">Long Break After</label>
                            </div>
                            <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 right">
                                <input class="form-control input-number" type="number" name="pomodoros-to-long-break"
                                       value="4" disabled="" required="" min="1" id="setting-pomodoros-to-long-break">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 left">
                                <h6>pomodoros </h6></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                                <label for="setting-daily-target">Daily Target</label>
                            </div>
                            <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 right">
                                <input class="form-control input-number" type="number" name="daily-target" value="14"
                                       disabled="" required="" min="1" id="setting-daily-target">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 left">
                                <h6>pomodoros </h6></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}