@import url(fonts.css);

.error-note {
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    color: #e51c23;
    border: 1px solid #e51c23;
    border-radius: 4px;
    background: #fff 5px 12px;
}

.error-note.center {
    margin-bottom: 16px;
}


