/*
    POMODORO styles
*/

@import url(fonts.css);

body {
  padding:16px;
  font-size:14px;
}

/* GLOBAL DEFAULTS */

a {
  color:initial;
}

hr {
  margin:0;
}

.material-icons {
  vertical-align:middle;
}

/* MODIFIERS */

.right {
  text-align:right;
}

.left {
  text-align:left;
}

.no-margin {
  margin:0;
}

.no-padding {
  padding:0;
}

.top-gap {
  padding-top:16px;
}

.bottom-gap {
  padding-bottom:16px;
}

.center {
  text-align:center;
  width:425px;
  margin:0 auto;
}

@media (max-width:767px) {
  .center {
    width:initial;
  }
}

.inline {
  display:inline-flex;
}

.group > * {
  margin-right:8px;
}

.group-action-btns > *:not(:last-child) {
  margin-right:16px;
}

.info {
  background-color:#bbbbbb;
}

.info * {
  color:white;
}

.action-button {
  font-size:40px;
}

.input-number {
  width:50px !important;
  text-align:center;
}

/* PAGE STRUCTURE */

.nav-tabs > li {
  float:none;
  display:inline-block;
}

.nav-tabs {
  text-align:center;
}

#tab-main > li > a {
  font-size:larger;
}

.tab-content {
  margin:16px;
}

.btn .caret {
  margin-left:8px;
}

#coll-timer {
  font-size:90px;
}

@media (max-width:767px) {
  #coll-timer {
    line-height:normal;
  }
}

.coll-time-ctl-btn {
  padding:69px 0;
}

@media (max-width:767px) {
  .coll-time-ctl-btn {
    text-align:center;
  }
}

@media (max-width:767px) {
  .coll-time-add-btn {
    padding-top:0;
  }
}

@media (max-width:767px) {
  .coll-time-sub-btn {
    padding-bottom:0;
  }
}

.panel-body {
  padding:7px;
}

#modal-tasks-header {
  padding-bottom:0;
}

#modal-tasks-body {
  padding-top:0;
}

label {
  margin-top:12px;
  margin-bottom:12px;
}

@media (max-width:767px) {
  #coll-modal-task-btns {
    text-align:right;
  }
}

.badge {
  margin-left:7px;
  margin-right:7px;
}

@media (max-width:767px) {
  #col-tasks-todo-btns {
    margin-top:8px;
  }
}